DATABASE_URL="postgresql://gestion_studio:gestion_studio@localhost:5433/gestion_studio?schema=public"
REDIS_URL="redis://localhost:6379"

API_PORT=3000
NODE_ENV=development

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:4200

DEFAULT_TIMEZONE=Indian/Antananarivo
DEFAULT_CURRENCY=MGA
DEFAULT_LOCALE=fr

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=gestion_studio
MINIO_ROOT_PASSWORD=gestion_studio_secret
MINIO_BUCKET=gestion-studio
